.App {
  text-align: center;
  margin: none;
  padding: none;
}


.App-header {
  margin-top: -13px;
  background: black;
  height: 80px;
  text-align: center;
}

.fulltoplist {
  text-decoration: none;
  display: flex;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

}

.mus {
  font-size: 30px;
  color: white;
}




.cent {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;


}

.anc {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
}

.mainline {
  font-size: 120px;
  margin: 50px;
  color: White;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 25px;
  text-shadow: 5px 5px 10px black;
}

.centerplayer {
  text-align: center;
  background: rgb(209, 227, 225,0.5);
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  width: 80%;
  padding: 40px;

  box-shadow: 2px 2px 5px;
  font-size: 30px;
}
