.App {
  text-align: center;
}


.App-header {
  background: black;
  border-bottom: 0px solid rgb(108, 190, 217);
  height: 80px;
  text-align: center;
}

.fulltoplist {
  text-decoration: none;
  display: flex;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

}

.mus {
  font-size: 25px;
}


.music  {

  color: white;
}

.cent {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Bebas Neue', cursive;

}

.anc {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
